 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 696px;
}

.u-section-1 .u-text-1 {
  width: 553px;
  margin: 263px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 20px;
  margin: 0 auto 60px;
  padding: 10px 145px 10px 143px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}